@font-face {
  font-family: 'sign';
  src: url('./font/sign.ttf') format('truetype');
}
@font-face {
  font-family: 'archivo';
  src: url('./font/bangers.ttf') format('truetype');
}
.cv-container {
  max-width: 100%;
  font-family: Arial;
  padding: 20px;
  background: linear-gradient(to bottom, black, gray);
  align-items: center;
  display: flex;
  flex-direction: column;

  
}
.oli{
  width:150px;
  height: auto;
  border-radius: 100px;
}
.line {
  width: 40px;
  height: 2px;
  background-color: black;
  margin: 20px auto;
}
.personal-info {
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  
  padding: 10px;
  border-radius: 20px;
  
}





h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right:20px;
  margin-left: 20px;
  text-align: center;
}

h2 {
  margin-right:20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin-right:20px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}

.personal-info {
  margin-bottom: 20px;
}

.education,
.experience,
.work-experience {
  margin-bottom: 20px;
}






.experience {
  background-color: #e6f7ff;
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 20px;
  width: 700px;

}



.education {

  background-color: #f9f2e6;
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-bottom: 20px;
  
  border-radius: 20px;
  width: 600px;
  
}





.work-experience {
  text-align: center;
  background-color: #f2f2f2;
  backdrop-filter: blur(10px);
  padding: 10px;
  width: 800px;
  border-radius: 20px;
}



.experience-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
}

.experience-images img {
  margin: 20px;
  width: 110px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
.cisco{
  border-radius: 20px;
}


.work-experience p:last-child {
  margin-bottom: 0;
}